.adminLoginPic {
    border-radius: 50%;
    

}

.loginButton {
    border-radius: 25%;
    border-color: #000000;
    border-width: 5px;
    width: 100px;
    height: 50px;
    fill: #ffffff;
}

.componentContainer {
    display: flex;
}
