.adminPic {
    display: flex;
    border-radius: 50%;
    margin-right: -200px;
   

}

.loginButton {
    border-radius: 25%;
    border-color: #383838;
    border-width: 5px;
    width: 100px;
    height: 50px;
    fill: #ffffff;
    
}

.componentContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

.loginTextContainer {
    color: #383838;
    display:flex;
    text-align: left;
    align-items: center;
    width: 30vw;
    height: 100vh;
    font-size: 20px;
    
}

.google-sign-in {
    height: 10%;
    width: 42.5%;
}
