@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.intro-text-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 10vh;
    width: 100vw;
    margin-top: 5%;
    /* background-color: red; */

}

.intro-text {
    /* display: flex;
    align-items: center; */
    /* background-color: blue; */
    margin-left: 5.5%;
    font-family: 'Montserrat';
    font-size: 18px;
    /* font-size: 2.5vh; */
    color: #264425;
    /* background-color: yellow; */
}

.intro-text-pt2 {
    font-weight: 100;
    margin-left: 4%;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    /* background-color: blue; */
}

.main-appointment-scheduler-container {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 70vh;
    width: 90vw;
    margin-top: 1%;
    margin-left: 5%;
    /* background-color: blue; */
    /* border: 1px solid #C4C4C4; */
    /* border-radius: 10px 10px 10px 10px; */
}

.main { /* dummy name, might have to delete */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 60vh;
    width: 45vw;
    /* background-color: blue; */
    border: 1px solid #C4C4C4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.main-appointment-scheduler-left {
    display: flex;
    height: 70vh;
    width: 45vw;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2vw;
    border: 1px solid #C4C4C4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: pink;
}

.main-appointment-scheduler-right {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* height: 60vh; */
    /* width: 45vw; */
    /* background-color: red; */
    /* border: 1px solid #C4C4C4; */
    /* border-top-right-radius: 10px; */
    /* border-bottom-right-radius: 10px; */

    display: flex;
    height: 70vh;
    width: 45vw;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2vw;
    border: 1px solid #C4C4C4;
    border-left: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: lightblue;
}

.step-heading {
   font-size: 2.5vh;
   font-family: 'Montserrat', sans-serif;
   font-weight:700;
   color: #264425;
   /* margin-left: 4%; */
}


 .button-container {
     display: flex;
     /* background-color: red; */
     margin-top: 1%;
     height: 16vh;
     justify-content: end;
     margin-right: 5%;
 }

 .clear-all-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 5.5vh;
    border-radius: 20px;
    border: #588157 solid 2px;
    font-size: 1.5vh;
    background-color: white;
}

.clear-all {
    font-size: 2.2vh;
    color: #588157;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-button {
    display: flex;
    align-items: center;
    margin-left: 1%;
    justify-content: center;
    width: 10vw;
    height: 5.5vh;
    border-radius: 20px;
    border: #588157 solid 1px;
    background-color: #264425;
    font-size: 1.5vh;
}

.submit {
    font-size: 2.2vh;
    color: white;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.filters {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.appt-sched-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 2vh;
}

p#input-field-label {
    color: #262626;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.custom-dropdown {
    padding-top: 1px;
    border-color: #ACB9AC;
}

.searchInputs {
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    border: 0px solid;
}

.input-name {
    display: flex;
    flex-direction: row;
}
  
.searchInputs input {
border-color: #ACB9AC;
border: solid #ACB9AC;
border-radius: .5vw;
padding-left: .5vw;
box-shadow: #ACB9AC;
height: 5vh;
/* width: 20vw; */
font-family: 'Inter', sans-serif;
font-size: 16px;
font-weight: 300;
}

input::placeholder{
border-color: #ACB9AC;
background-repeat: no-repeat;
background-position: 97%;
}

.name-box {
    width: 10vw;
}

.contact-box {
    width: 33vw;
}