.searchInputs {
    margin-top: 1vw;
    display: flex;
  }
  
  .search input {
    background-color: white;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    line-height: 1.5;
    font-weight: 400;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    height: 38px;
    width: 250px;
    font-weight: 400;
    
  }
  
   .searchIcon {
    background-color: white;
    display: grid;
    place-items: center;
    padding-right: 20vw;
  } 
  
  