.searchInputs {
    margin-top: 1vw;
    display: flex;
    border: 0px solid;
  }
  
  .search input {
    border-color: #ACB9AC;
    border: solid #ACB9AC;
    border-radius: .5vw;
    padding-left: .5vw;
    height: 6vh;
    width: 19vw;
    font-weight: 400;
  }
  input::placeholder{
    border-color: #ACB9AC;
    background-image: url(./images/IsbeesSearchIcon.svg);
    background-repeat: no-repeat;
    background-position: right;
  }