@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.entireContent {
    padding-left: 100px;
    padding-top: 40px;
    width: 90vw;
    
}
.topContainer {
    display: flex;
    flex-direction: row
}
.leftSide {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: space-between;
}
.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.topContainer h1 {
    text-align: left;
    padding-left: 1vh;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.125em 1vw;
    color: #383838;
    line-height: 10pt;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.topContainer p {
    text-align: left;
    font-size: 14;
    /* padding-top: 10px; */
    text-align: left;
    padding-top: 1vh;
    padding-left: 20px;
    font-family: 'Inter', sans-serif;
}
.h3{
    font-size: 10px;
}
.addButton {
    background-color: #264425;
    display: flex;
    height: 5vh;
    flex-direction: row;
    justify-content: space-evenly;
    color: #fff; 
    border-radius: 40px;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
}
.addButton:hover {
    background-color: #ACB9AC;
    color: #fff; 
}
.addItem{
    display: flex;
    padding-right: 1vw;

}
.changeStock{
    font-size: 16;
    background-color: white;
    color: #6A7E69;
    font-family: 'Inter', sans-serif;
    padding-bottom: 10px;
}
.changeStock:hover{
    text-decoration: underline;
}

.filters {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.bottomContainer {
    border-color: #B8B8B8;
    border-width: 1px;
    border-radius: 10px;
    height:80vh;
    border-style: solid;
    display: flex;
    padding: 2px;
}

.filter-by {
    /* background-color: red; */
    /* padding-top: 5vw; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 2vh;
    
}

.sort-by {
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 2vh;
}

p#filterControlLabel {
    color: #4C4C4C;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.custom-dropdown {
    padding-top: 1px;
    border-color: #ACB9AC;
    /* color: #C4C4C4;
    border: solid #ACB9AC;
    background-color: white;
    border-radius: .5vw;
    padding-left: .5vw;
    height: 6vh;
    width: 19vw;
    font-weight: 400; */
   
}

    

/* .custom-dropdown .custom-toggle {
    border-color: #ACB9AC;
    color: #C4C4C4;
    border: solid #ACB9AC;
    background-color: white;
    border-radius: .5vw;
    padding-left: .5vw;
    height: 6vh;
    width: 19vw;
    font-weight: 400;
} */


/* .custom-dropdown .custom-toggle:hover{
    background-color: white;
    border-color: #ACB9AC;
    border: solid #ACB9AC;
    border-radius: .5vw;
    padding-left: .5vw;
    height: 6vh;
    width: 19vw;
    font-weight: 400;
    color: #C4C4C4;
}
.custom-dropdown .custom-toggle:on-click{
    background-color: white;
    border-color: #ACB9AC;
    color: #C4C4C4;
    width: 250px;
} */
/* need to add on-click behavior */
/* .custom-dropdown .custom-menu {
    background-color: white;
    border-color: #ACB9AC;
    width: 250px;
} */


.filterItemControls {
    display: flex;
    width: 10vw;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1vw;
}
.filterReset{
    display: flex;
    padding-top: 2vh;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2vh;
}
.filterItems{
    color: #4C4C4C;
    font-size: 24px;
    display: flex;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    padding-right: 3.5vw;
    justify-content: start;
}
.resetFilters{
    font-size: 16px;
    background-color: #fff;
    color: #A71E47;
    align-items: right;
    padding-top: 1vh;
    font-family: 'Inter', sans-serif;
    font-weight: medium;
}

.resetFilters:hover {
    text-decoration: underline;
}
.firstRow {
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end;
    padding-left: 1vw; 


}
.secondRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 1vw; 

}
.thirdRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 1vw; 

}
.firstRow h1 {
    padding-left: 1vw;
    font-size: 0.75rem; 
}
.secondRow h1 {
    padding-left: 1vw;
    font-size: 0.75rem;
    
}
.thirdRow h1 {
    padding-left: 1vw;
    font-size: 0.75rem;
}
.firstRow .allItemBtn {
    display: block;
    background-color: white;
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
    border: 1px solid black;
}
.secondRow .stockBtn {
    display: block;
    background-color: white;
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
    border: 1px solid black;

}
.thirdRow .noStockBtn {
    display: block;
    background-color: white;
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
    border: 1px solid black;

}

.searchBox{
    padding-bottom: 2vh;
    width: 20vw;
    text-align: left; 
    color: #4C4C4C;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 2vh;
}
.searchBox.text {
    padding-bottom: 1vh;
}
.showFilter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}
.showText {
    color: #4C4C4C;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 1vh;
}

.filterItemDisplay {
    width: 60vw;
    padding-left: 2vw;
    align-items: left;
    overflow-y: scroll;
}

.foodPanel {
    width: 400px;
}

.form-check-label {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

input[type="radio"] {
    border: 1.5px solid #B8B8B8;
    
}

input[type="radio"]:checked {
    border: 1.5px solid #B8B8B8;
    background-color: solid #264425;
    box-shadow: inset 0 0 0 2.5px white, inset 0 0 0 8px #264425;
}