@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.entireContent {
    padding-left: 100px;
    padding-top: 40px;
    width: 90vw;
    
}
.topContainer {
    display: flex;
    flex-direction: row
}
.leftSide {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: space-between;
}
.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.topContainer h1 {
    text-align: left;
    padding-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: #383838;
    line-height: 10pt;
    padding-bottom: 1vh;
}
.topContainer p {
    text-align: left;
    font-size: 14;
    padding-top: 10px;
    padding-left: 20px;
    font-family: 'Inter', sans-serif;
}
.h3{
    font-size: 10px;
}
.topContainer button {
    background-color: #264425;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff; 
    /* padding: 0.5em 1em; */
    border-radius: 40px;
    font-size: 18;
    font-weight: bold;
    /* text-align: space-between; */
}
.addItem{
    display: flex;

}
.changeStock{
    font-size: 16;
    color: #6A7E69;
    padding-bottom: 10px;
}
.changeStock:hover{
    text-decoration: underline;
}

.bottomContainer {
    border-color: #B8B8B8;
    border-width: 1px;
    border-radius: 10px;
    height:80vh;
    border-style: solid;
    display: flex;
    padding: 2px;
}


.filterItemsControls {
    background-color: lightblue;
    /* width: 30vw; */
    padding-right: 20px;
    flex: 1;
}

.filterItemDisplay {
    width: 300px;
    overflow-x:scroll;
    overflow-y:scroll;
    /* width: 50vw; */
    /* width: 60vw; */
    background-color: hotpink;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.foodPanel {
    /* background-color: hotpink; */
    width: 100px;
}