@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.foodComponentTag {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    border-radius: 20px;
    width: 110px;
    height: 25px;
    background-Color:#5bcea2;
    color: white;
    margin-right: 5px;
    margin-top: 5px;
}
