@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    
.add-food-component-header {
    display: flex;
    flex-direction: column;
    height: 8vh;
    width: 100vw;
    font-family: "Montserrat";
    margin-top: 4vh;
    margin-left: -3vw;
}

.add-food-component-header h1 {
    margin-left: 10vw;
    font-weight: bold;
    font-family: "Montserrat";
}

.add-food-component-header p {
    margin-left: 10vw;
    font-family: "Montserrat";
}

.main-add-food-component-container{
    display: flex;
    border: 1px solid rgb(173, 167, 167);
    border-radius: 10px 10px 10px 10px;
    margin-top: 5vh;
    height: 65vh;
    width: 90vw;
    margin-left: 5vw;
}

.main-add-food-component-container-left {
    display: flex;
    align-items: center;
    height: 100%;
    width: 45vw;
    flex-direction: column;
}

.main-add-food-component-container-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 33vw;
    margin-left: 8vw;
    margin-top: .5vh;
    justify-content: center;
    /* background-color: red; */
}

.add-food-save-item-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 5vh;
    border-radius: 40px;
    color: white;
    background-color: #264425;
    font-size: 2.25vh;
    font-weight: 800;
    font-family: 'Montserrat';
    margin-top: 3vh;
    margin-right: 7vw;
}

.add-food-delete-item-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 5vh;
    border-radius: 40px;
    border: 1px solid #A71E34 !important;
    color: #A71E34;
    background-color: white;
    font-size: 2.25vh;
    font-weight: bold;
    font-family: 'Montserrat';
    margin-top: 3vh;
    margin-right: 3vw;    
}

.add-food-delete-item-final-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 5vh;
    border-radius: 40px;
    color: white;
    background-color: #A71E34;
    border: 1px solid #A71E34 !important;
    
    font-size: 2.25vh;
    font-weight: bold;
    font-family: 'Montserrat';
    margin-top: 3vh;
    margin-right: 7vw;
    margin-left: 6.5vw;
}
.add-food-cancel-item-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 5vh;
    border-radius: 40px;
    color: #264425;
    background-color: white;
    border: 2px solid #264425 !important;
    font-size: 2.25vh;
    font-weight: 800;
    font-family: 'Montserrat';
    margin-top: 3vh;
    margin-right: 7vw;
    margin-left: 6.5vw;
}

.add-food-item-selections {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    width: 100%;
}

.add-food-stock-dropdown { 
    height: 30%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: -5%;
}

.categories-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 2vh;
    width: 30vw;
}

p#filterControlLabel {
    color: #4C4C4C;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.item-name-input {
    display: flex;
    margin-top: 6.5vh;
    width: 30vw;
    text-align: left; 
    color: #4C4C4C;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 2vh;
    width: 30vw;
}

.item-name-textbox {
    width: 30vw;
    height: 6vh;
    border-radius: .5vw;
    border: solid #ACB9AC;
}

input {
    display:flex;
    flex-direction: column;
    border-radius: 4px 4px 4px 4px;
    font-size: 2vh;
    font-family: "Montserrat";
    margin-top: 2%;

    height: 16px;
    width: 16px;
    border-color: #588157;
  }

  label {
    display:flex;
    flex-direction: column;
    border-radius: 4px 4px 4px 4px;
    font-size: 2vh;

    margin-top: 2%;

    margin: 2px;
    border-color: #588157;
  }









.cloud-format {
    height: 2.5vh;
    padding-right: 5%;
}

.import-image {
    height: 7vh;
}

.stock-select-list {
    font-family: "Montserrat";
    height: 10%;
    width: 200%;
    border-color: #588157;
}

.save-item-button-container-final {
    display: flex;
    justify-content: right;
    height: 5vh;
    width: 100%;
    }

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dietary-categories-select-list {
    font-family: "Montserrat";
    margin-top: 0%;
    height: 10%;
    width: 200%;
    border-color: #588157;
}


.upload-image-header {
    color: #4C4C4C;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 3%;
}

.optional-text {
    color:#B8B8B8; 
    font-weight: 300; 
}

.upload-image-container {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100%;
    margin-top: 3vh;  
    position: relative; 
}

.addFood-upload-bttn {
    display: flex;
    height: 50%;
    width: 50%
}

.delete-item-confirmation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
}

@media screen and (orientation: portrait) {
    .add-food-component-container {
        flex-direction: column;
    }
    .main-add-food-component-container {
        display: flex;
        flex-direction: column;
        border: none;
        justify-content: center;
        align-items: center;
        height: 60%;
        width: auto;
        margin-top: 6%;
        margin-left: 0%;
        border-radius: 10px 10px 10px 10px;
    
    }

    .add-food-component-header h1 {
        margin-bottom: -3%;
        font-weight: 600;
    }
    .stock-dropdown {
        display: flex;
        align-items: center;
        text-align: left;
    }
    .categories-dropdown {
        align-items: center;
    }
    .item-name-textbox {
        width: 80vw;
        border-radius: 2vw;
        height: 5vh;
    }

    .item-name-input {
        width: 80vw;
        font-weight: 600;
        padding-top: 2vh;
    }
    .right-side-container {
        display: flex;
        flex-direction: column;
    }
    .import-image-button {
        width: 100%;
        height: 100%;
        margin-left: 20%;
        
    }
    .editItemModal {
        width: 50%;
        height: 50%; 
    }
    /* .modal {
        position: absolute; 
        inset: 40px;
        border: 1px solid rgb(204, 204, 204);
        background: rgb(255, 255, 255);
        overflow: auto;
        border-radius: 4px;
        outline: none;
        padding: 20px;

    } */

}
