@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    
.add-food-component-header {
    display: flex;
    flex-direction: column;
    height: 8vh;
    width: 100vw;
    font-family: "Montserrat";
    margin-top: 4vh;
    margin-left: -3vw;
}

.add-food-component-header h1 {
    margin-left: 10vw;
    font-weight: bold;
    font-family: "Montserrat";
}

.add-food-component-header p {
    margin-left: 10vw;
    font-family: "Montserrat";
}

.main-add-food-component-container{
    display: flex;
    border: 1px solid rgb(173, 167, 167);
    border-radius: 10px 10px 10px 10px;
    margin-top: 5vh;
    height: 65vh;
    width: 90vw;
    margin-left: 5vw;
}

.main-add-food-component-container-left {
    display: flex;
    align-items: center;
    height: 100%;
    width: 45vw;
    flex-direction: column;
}

.main-add-food-component-container-right {
    display: flex;
    height: 100%;
    width: 33vw;
    margin-left: 8vw;
    margin-top: .5vh;
    justify-content: center;
    /* background-color: red; */
}

.add-food-save-item-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 5vh;
    border-radius: 40px;
    color: white;
    background-color: #264425;
    font-size: 2.25vh;
    font-weight: 800;
    font-family: 'Montserrat';
    margin-top: 3vh;
    margin-right: 7vw;
    
}

.add-food-item-selections {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    width: 100%;
}

.stock-dropdown { 
    height: 30%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: -5%;
}

.categories-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 2vh;
    width: 30vw;
}

p#filterControlLabel {
    color: #4C4C4C;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.item-name-input {
    display: flex;
    margin-top: 6.5vh;
    width: 30vw;
    text-align: left; 
    color: #4C4C4C;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 2vh;
    width: 30vw;
}

.item-name-textbox {
    width: 30vw;
    height: 6vh;
    border-radius: .5vw;
    border: solid #ACB9AC;
}


label.item-name-input, input.item-name-textbox {
    display:flex;
    flex-direction: column;
    border-radius: 4px 4px 4px 4px;
    font-size: 2vh;
    font-family: "Montserrat";
    margin-top: 2%;

    height: 16px;
    width: 16px;
    border-color: #588157;
  }

  label {
    display:flex;
    flex-direction: column;
    border-radius: 4px 4px 4px 4px;
    font-size: 2vh;

    margin-top: 2%;

    margin: 2px;
    border-color: #588157;
  }
.change-image-button {
    border-color: #588157;
  }

.import-image-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17vw;
    height: 5.5vh;
    border-radius: 100px;
    border: #264425 solid 1px;
    background-color: white;
    margin-left: 15%;
}

.change-image-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17vw;
    height: 5.5vh;
    border-radius: 100px;
    border: #264425 solid 1px;
    background-color: #D6DECD;
    margin-left: 15%;
}

.import-image-button:hover {
    background-color: #D6DECD;
}

.cloud-format {
    height: 2.5vh;
    padding-right: 5%;
}

.import-image {
    height: 7vh;
}

.stock-select-list {
    font-family: "Montserrat";
    height: 10%;
    width: 200%;
    border-color: #588157;
}

.save-item-button-container-final {
    display: flex;
    justify-content: right;
    height: 5vh;
    width: 100%;
    }

.dietary-categories-select-list {
    font-family: "Montserrat";
    margin-top: 0%;
    height: 10%;
    width: 200%;
    border-color: #588157;
}

.upload-image-text-h1 {
    font-size: 2vh;
    color: #264425;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .70vh;
}

.upload-image-header {
    margin-top: 2.5vh;
    font-weight: 450;
    height: 20%;
    font: 'inter';
    font-size: 2vh;
    margin-bottom: -2vh;
}

.optional-text {
    color:#B8B8B8;
    margin-top: 2.5%;  
    font-weight: 300; 
}

.upload-image-container {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100%;
    margin-top: 3vh;
    
}

@media screen and (orientation: portrait) {
    .add-food-component-container {
        flex-direction: column;
    }
    .main-add-food-component-container {
        display: flex;
        flex-direction: column;
        border: none;
        justify-content: center;
        align-items: center;
        height: 60%;
        width: auto;
        margin-top: 6%;
        margin-left: 0%;
        border-radius: 10px 10px 10px 10px;
    
    }

    .add-food-component-header h1 {
        margin-bottom: -3%;
        font-weight: 600;
    }
    .stock-dropdown {
        display: flex;
        align-items: center;
        text-align: left;
    }
    .categories-dropdown {
        align-items: center;
    }
    .item-name-textbox {
        width: 80vw;
        border-radius: 2vw;
        height: 5vh;
    }

    .item-name-input {
        width: 80vw;
        font-weight: 600;
        padding-top: 2vh;
    }
    .right-side-container {
        display: flex;
        flex-direction: column;
    }
    .import-image-button {
        width: 100%;
        height: 100%;
        margin-left: 20%;
        
    }

}
