@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@400;500&display=swap');

.admin-pic {
    display: flex;
    border-radius: 50%;
    margin-right: -200px;
    width: 30%;
}

.google-sign-in-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17.5vw;
    height: 6.5vh;
    border: 1px solid black;
    border-radius: 40px;
    font-size: 2vh;
    font-weight: bold;
    font-family: 'Inter';
    text-decoration: none;
    margin-top: 3vh;
}

.google-sign-in-logo {
    height: 2.25vh;
    width: 2.25vw;
}

.google-sign-in-link {
    text-decoration: none;
    font-size: 16.5px;
    color: grey;
    font-weight: 650;
}

.google-sign-in-link:hover, .google-sign-in-link:focus, .google-sign-in-link:active {
    text-decoration: none;
    color: grey;
    font-weight: 650;
}

.admin-login-button {
    border-radius: 25%;
    border-color: #383838;
    border-width: 5px;
    width: 100px;
    height: 50px;
    fill: #ffffff;
}

.admin-component-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
    width: 100vw;
}


.admin-login-text-container {
    color: #383838;
    display:flex;
    text-align: left;
    align-items: center;
    width: 30vw;
    height: 80vh;

    font-size: 20px;
    font-family: Inter;
}

.admin-login-text-container h1 {
    font-family: 'Montserrat';
}

.admin-google-sign-in {
    height: 90%;
    border: none;
}

.admin-login-google-sign-in-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17vw;
    height: 5.5vh;
    border-radius: 100px;
    border: #264425 solid 1px;
    margin-top: 7%;
}

@media screen and (orientation: portrait) {
    .admin-component-container {
        display: flex;
        flex-direction: column; 
        justify-content: center;                               
    }

    .admin-pic {
        display: flex;
        margin-right: 0%;
        width: 100%;
        padding: 15%;
    }

    .admin-login-text-container {
        width: 65%;
        height: 20%;
        font-size: 14px;
        font-family: 'Inter', sans-serif;
    }

    .admin-login-google-sign-in-button-div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 5.5vh;
        margin-top: 7%;
    }

    .admin-google-sign-in {
        height: 90%;
        
    }

}
