@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.apptsched-intro-text-container {
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 100vw;
    margin-top: 2%;
    margin-bottom: -.5%;
}

.apptsched-intro-text {
    margin-left: 5.5%;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    color: #264425;
}

.apptsched-intro-text-pt2 {
    font-weight: 300;
    margin-left: 4%;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #262626;
}

.apptsched-main-appointment-scheduler-container {
    display: flex;
    height: 65vh;
    width: 90vw;
    margin-top: 0%;
    margin-left: 5%;
}

.apptsched-main-appointment-scheduler-left {
    display: flex;
    height: 65vh;
    width: 45vw;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2vw;
    border: 1px solid #C4C4C4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.apptsched-main-appointment-scheduler-right {
    display: flex;
    height: 65vh;
    width: 45vw;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2vw;
    border: 1px solid #C4C4C4;
    border-left: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.apptsched-step-heading {
   font-size: 2.5vh;
   font-family: 'Montserrat', sans-serif;
   font-weight:700;
   color: #264425;
   margin-bottom: 1%;
   margin-top: 20px;
}

.apptsched-step-heading-2 {
    font-size: 2.5vh;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    color: #264425;
    margin-bottom: 1%;
    margin-top: 20px;
}

 .apptsched-button-container {
     display: flex;
     margin-top: 2%;
     height: 10vh;
     justify-content: end;
     margin-right: 5%;
 }

 .apptsched-clear-all-button {
    display: flex;
    align-items: center;
    margin-left: 1%;
    justify-content: center;
    width: 10vw;
    height: 5.5vh;
    border-radius: 20px;
    border: #588157 solid 1px;
    background-color: white;
    color: #588157;
    font-size: 2.25vh;
    font-family: 'Montserrat';
}

.apptsched-submit-button {
    display: flex;
    align-items: center;
    margin-left: 1%;
    justify-content: center;
    width: 10vw;
    height: 5.5vh;
    border-radius: 20px;
    background-color: #264425;
    color: white;
    font-size: 2.25vh;
    font-family: 'Montserrat';
    text-decoration: none;
}

.apptsched-link{
    color: white;
}

.apptsched-link:hover{
    text-decoration: none;
    color: white;
}

.apptsched-submit-button:hover{
    text-decoration: none;
}

.apptsched-submit {
    font-size: 2.2vh;
    color: #264425;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.apptsched-scheduler-filters {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.apptsched-filter-dropdown {
    width: 100%;
}

.apptsched-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 2vh;
}

p#apptsched-input-field-label {
    color: #262626;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

p#apptsched-input-field-label-additional {
    color: #262626;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: -2vh;
}

p#apptsched-item-checklist-label {
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 2vh;
}

.apptsched-form-check-label {
    display: flex;
    flex-direction: row;
}
.apptsched-form-check-input {
    margin-bottom: 2.5%;
}

/* .apptsched-form-check-input-items {
    margin-bottom: 3%;
} */

.apptsched-form-check-input-items {
    margin-bottom: 8%; 
    border: #000000;
}

.apptsched-custom-dropdown {
    padding-top: 1px;
    border-color: #ACB9AC;
    width: 20vw !important;

}

.apptsched-searchInputs {
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    border: 0px solid;
}

.apptsched-input-name {
    display: flex;
    flex-direction: row;
}
  
.apptsched-search-inputs input {
    border-color: #ACB9AC;
    border: solid #ACB9AC 1px;
    border-radius: .5vw;
    padding-left: .5vw;
    box-shadow: #ACB9AC;
    height: 5vh;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.apptsched-name-box {
    width: 15vw;
}

.apptsched-contact-box {
    height: 20vh;
    width: 31.5vw;
    border-color: #ACB9AC;
    border: solid #ACB9AC 1px;
    border-radius: 10px;
    padding-left: .5vw;
    box-shadow: #ACB9AC;
    text-align: top;
}

.apptsched-pickup-items {
    font-family: 'Inter';
    margin-right: 7%;
}

.apptsched-dietary-preferences {
    font-family: "Inter";
    display: flex;
    flex-direction: column;
    height: 32vh;
    width: 40vw;
}

.apptsched-pick-up-items {
    font-family: "Inter";
    height: 32vh;
    width: 40vw;
}

.apptsched-text-field {
    margin-bottom: 3%;
    margin-right: 5%;
}

.apptsched-left-checklist-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 35vh;
    width: 40vw;
    border: solid #ACB9AC 1px;
    border-radius: .5vw;
    padding-left: .5vw;
    box-shadow: #ACB9AC;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 1vh;
}

.apptsched-additional-information-text-field {
    margin-top: 3vh;
}

@media screen and (orientation: portrait) {
    .apptsched-intro-text {
        font-weight: bold;
    }
    
    .apptsched-main-appointment-scheduler-container {
        display: flex;
        flex-direction: column;
        height: 150vh;
        justify-content: center;
        align-items: center;
    }

    .apptsched-main-appointment-scheduler-left {
        width: 100%;
        height: 150%;
        overflow-y: auto;
        overflow-x: initial;
        border: white;
    }

    .apptsched-main-appointment-scheduler-right {
        width: 100%;
        height: 100vh;
        border: white;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .apptsched-custom-dropdown-1 {
        width: 70% !important;
        border-radius: 10px;
    }

    .apptsched-step-heading {
        font-size: 2vh;
        width: 100%;
        margin-bottom: 2vh;
    }

    .apptsched-left-checklist-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 50%;
        overflow-y: auto;
        border-radius: 10px;
    }

    .apptsched-dropdown {
        width: 100%;
    }

    .apptsched-input-name {
        display: flex;
        flex-direction: column;
    }

    .apptsched-name-box {
        width: 80vw;
        background-image: none;
    }

    .apptsched-contact-box {
        width: 80vw;
        height: 10vh;
        border-radius: 10px;
    }

    .apptsched-form-check {
        display: flex;
        flex-direction: row;
        /* margin-bottom: 2%;
        margin-left: -2vw; */
    }

    .apptsched-additional-information-text-field {
        margin-top: 2vh;
    }

    .apptsched-clear-all-button {
        display: none;
        align-items: center;
        margin-left: 1%;
        justify-content: center;
        width: 10vw;
        height: 5.5vh;
        border-radius: 20px;
        border: #588157 solid 1px;
        background-color: white;
        color: #588157;
        font-size: 2.25vh;
        font-family: 'Montserrat';
    }

    .apptsched-button-container {
        justify-content: center;
        align-items: center;
    }

    .apptsched-submit-button {
        font-weight: bold;
        width: 30vw;
    }

    p#apptsched-item-checklist-label {
        margin-top: 2vh;
        margin-bottom: .5vh;
        margin-left: 3vw;
        font-size: 1.5vh;
    }

    .apptsched-pickup-items-selection {
        margin-left: 3vw;
    }
}
