@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

.thankyou-circle-pic {
    display: flex;
    border-radius: 50%;
    align-items: center;
    height: 60vh;
}

.thankyou-appt-button-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.thankyou-appt-button {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 5.5vh;
    border-radius: 100px;
    border: #264425 solid 1px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    color: #264425;
    list-style-type: none;
    font-family: Montserrat;
    font-size: 15px;
    margin-top: 8%;
}

.thankyou-appt-button:hover {
    font-family: Montserrat;
    color: #264425;
    text-decoration: none;
}

.thankyou-full-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
    width: 100vw;
}

.thankyou-information-display {
    color: #383838;
    display:flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    width: 30vw;
    height: 100vh;
}

.thankyou-confirmation-text {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

.thankyou-confirmation-text h1 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 8%;
}

p#thankyou-description-text {
    font-family: 'Inter';
    color: #4C4C4C;
    font-size: 18px;
}

p#thankyou-time-text {
    font-family: 'Inter';
    color: #4C4C4C;
    font-weight: bold;
    font-size: 24px;
}

a#thankyou-weblink {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: bold;
    color: #4C4C4C;
}

@media screen and (orientation: portrait) { 
    .thankyou-full-page {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        
        align-items: center;
        height: 80vh;
        width: 100vw;
        margin-top: -5vh;
    }

    .thankyou-circle-pic {
        display: flex;
        border-radius: 50%;
        align-items: center;
        height: 30vh;
        margin-top: 2px;
    }

    .thankyou-confirmation-text {
        display: flex;
        flex-direction: column;
        height: 50vh;
        width: 70vw;
        margin-top: 20vh;
    }
    
    .thankyou-information-display {
        display: flex;
        flex-direction: column;
        width: 65%;
        height: 20%;
        font-size: 14px;
        font-family: 'Inter', sans-serif;
    }

    .thankyou-appt-button {
        display: flex;
        background-color: white;
        align-items: center;
        justify-content: center;
        width: 52.5vw;
        height: 5.5vh;
        border-radius: 100px;
        border: #264425 solid 1px;
        text-decoration: none;
        font-weight: 600;
        color: #264425;
        list-style-type: none;
        font-family: Montserrat;
        font-size: 15px;
        margin-bottom: 5vh; 
    }

    .thankyou-appt-button-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }   
}
