@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

.stocklisting-entireContent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    margin-left: 5vw;
    width: 90vw;
}

.stocklisting-topContainer {
    display: flex;
    flex-direction: row;
}

.stocklisting-leftSide {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: space-between;
}

.stocklisting-rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stocklisting-topContainer h1 {
    text-align: left;
    padding-left: 1vw;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #383838;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.stocklisting-topContainer p {
    text-align: left;
    font-size: 14;
    text-align: left;
    padding-top: 1vh;
    padding-left: 1vw;
    font-family: 'Inter', sans-serif;
}

.stocklisting-h3{
    font-size: 10px;
}

.stocklisting-addButton {
    background-color: #264425;
    display: flex;
    height: 5vh;
    flex-direction: row;
    justify-content: space-evenly;
    color: #fff; 
    border-radius: 40px;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
}

.stocklisting-addButton:hover {
    background-color: #ACB9AC;
    color: #fff; 
}

.stocklisting-addItem{
    display: flex;
    padding-right: 1vw;
}

.stocklisting-changeStock{
    font-size: 16;
    background-color: white;
    color: #6A7E69;
    font-family: 'Inter', sans-serif;
    padding-bottom: 10px;
    width: 275px;
}

.stocklisting-changeStock:hover{
    text-decoration: underline;
}

.stocklisting-filters {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:70vh;
    align-items: center;
    overflow-y: scroll;
}

.stocklisting-bottomContainer {
    border-color: #B8B8B8;
    border-width: 1px;
    border-radius: 10px;
    height:70vh;
    border-style: solid;
    display: flex;
    width: 80vw;
    overflow: scroll;
}

.stocklisting-filter-by {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 2vh;
}

.stocklisting-sort-by {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 2vh;
    height: '6vh';
}

p#stocklisting-filterControlLabel {
    color: #4C4C4C;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.stocklisting-custom-dropdown {
    padding-top: 1px;
    border-color: #ACB9AC;
}

.stocklisting-filterItemControls {
    display: flex;
    width: 25vw;
    height: 100%;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1vw 0 1vw;
}

.stocklisting-filterReset{
    display: flex;
    padding-top: 2vh;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2vh;
    width: 20vw;
}

.stocklisting-filterItems{
    color: #4C4C4C;
    font-size: 24px;
    display: flex;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    justify-content: start;
}

.stocklisting-resetFilters{
    font-size: 16px;
    background-color: #fff;
    color: #A71E47;
    align-items: right;
    padding-top: 1vh;
    font-family: 'Inter', sans-serif;
    font-weight: 450;
}

.stocklisting-resetFilters:hover {
    text-decoration: underline;
}

.stocklisting-firstRow {
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end;
    padding-left: 1vw; 
}

.stocklisting-secondRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 1vw; 
}

.stocklisting-thirdRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 1vw; 
}

.stocklisting-firstRow h1 {
    padding-left: 1vw;
    font-size: 0.75rem; 
}

.stocklisting-secondRow h1 {
    padding-left: 1vw;
    font-size: 0.75rem;   
}

.stocklisting-thirdRow h1 {
    padding-left: 1vw;
    font-size: 0.75rem;
}

.stocklisting-firstRow .stocklisting-allItemBtn {
    display: block;
    background-color: white;
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
    border: 1px solid black;
}

.stocklisting-secondRow .stocklisting-stockBtn {
    display: block;
    background-color: white;
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
    border: 1px solid black;
}

.stocklisting-thirdRow .stocklisting-noStockBtn {
    display: block;
    background-color: white;
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
    border: 1px solid black;
}

.stocklisting-searchBox{
    padding-bottom: 2vh;
    width: 20vw;
    text-align: left; 
    color: #4C4C4C;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 2vh;
}

.stocklisting-searchBox.text {
    padding-bottom: 1vh;
    font-size: 16px;
}

.stocklisting-showFilter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

.stocklisting-showText {
    color: #4C4C4C;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 1vh;
}

.stocklisting-filterItemDisplay {
    width: 55vw;
    padding: 10px;
    align-items: left;
    overflow-y: scroll;
    border-left: 1px solid #B8B8B8;
}


.stocklisting-foodPanel {
    width: 400px;
}

.stocklisting-form-check-label {
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

input[type="checkbox"], input[type="radio"] {
    border: 1.5px solid #B8B8B8;
    margin: 4px 8px 4px 8px;
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
    border: 1.5px solid #B8B8B8;
    background-color: solid #264425; 
    accent-color: #264425;
    box-shadow: "transparent";

    box-shadow: inset 0 0 0 2.5px white, inset 0 0 0 8px #264425;
    margin: 4px 8px 4px 8px;

}

input[type="checkbox"]:hover, input[type="radio"]:hover {
    border: 1.5px solid #B8B8B8;
    background-color: white;
    margin: 4px 8px 4px 8px;
}

