@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

.full-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    margin-left: 5vw;
    width: 90vw;
}

.view-appts-top-container {
    display: flex;
    flex-direction: row;
}

.view-appts-show-appointments {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: space-between;
}

.view-appts-show-appointments p {
    margin-left: -1vw;
}

.view-appts-show-dropdowns {
    display: flex;
    flex-direction: row;
    width: 50%;
}

/* .view-appts-main-container {
    display: flex; 
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-end;
} */
.view-appts-checkboxes {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    flex-grow: 1;
    padding-bottom: 1vh;

}
.appts-checkbox-together {
    display: flex;
    flex-direction: row; 
    align-items: center;
    
}


.view-appts-top-container h1 {
    text-align: left;
    padding-left: 1vw;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #383838;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.view-appts-top-container p {
    text-align: left;
    font-size: 14;
    text-align: left;
    padding-top: 1vh;
    padding-left: 1vw;
    font-family: 'Inter', sans-serif;
}

.view-appts-addButton {
    background-color: #264425;
    display: flex;
    height: 5vh;
    flex-direction: row;
    justify-content: space-evenly;
    color: #fff; 
    border-radius: 40px;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
}

.view-appts-addButton:hover {
    background-color: #ACB9AC;
    color: #fff; 
}

.view-appts-addItem{
    display: flex;
    padding-right: 1vw;
}

.view-appts-changeStock{
    font-size: 16;
    background-color: white;
    color: #6A7E69;
    font-family: 'Inter', sans-serif;
    padding-bottom: 10px;
    width: 275px;
}

.view-appts-changeStock:hover{
    text-decoration: underline;
}

.view-appts-filters {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:70vh;
    align-items: center;
    overflow-y: scroll;
}

.view-appts-bottomContainer {
    border-color: #B8B8B8;
    border-width: 1px;
    border-radius: 10px;
    height:70vh;
    border-style: solid;
    display: flex;
    width: 90vw;
}

.view-appts-filter-by {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 2vh;
}

.view-appts-by-day {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 2vh;
    height: '6vh';
}

.view-appts-by-time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 2vh;
    height: '6vh';
}

p#filterControlLabel {
    color: #4C4C4C;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.view-appts-custom-dropdown {
    width: 25vw;
    border-color: #ACB9AC;
    /* background-color: red; */
    margin-right: -8vw;
}

.view-appts-appt-card-display {
    width: 40vw;
    height: 100%;
    overflow-y: auto;
}

.view-appts-filterReset{
    display: flex;
    padding-top: 2vh;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2vh;
    width: 20vw;
}

.view-appts-filterItems{
    color: #4C4C4C;
    font-size: 24px;
    display: flex;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    justify-content: start;
}

.view-appts-resetFilters{
    font-size: 16px;
    background-color: #fff;
    color: #A71E47;
    align-items: right;
    padding-top: 1vh;
    font-family: 'Inter', sans-serif;
    font-weight: 450;
}

.view-appts-resetFilters:hover {
    text-decoration: underline;
}

.view-appts-firstRow {
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end;
    padding-left: 1vw; 
}

.view-appts-secondRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 1vw; 
}

.view-appts-thirdRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 1vw; 
}

.view-appts-firstRow h1 {
    padding-left: 1vw;
    font-size: 0.75rem; 
}

.view-appts-secondRow h1 {
    padding-left: 1vw;
    font-size: 0.75rem;   
}

.view-appts-thirdRow h1 {
    padding-left: 1vw;
    font-size: 0.75rem;
}

.view-appts-firstRow .allItemBtn {
    display: block;
    background-color: white;
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
    border: 1px solid black;
}

.view-appts-secondRow .stockBtn {
    display: block;
    background-color: white;
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
    border: 1px solid black;
}

.view-appts-thirdRow .noStockBtn {
    display: block;
    background-color: white;
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
    border: 1px solid black;
}

.view-appts-searchBox{
    padding-bottom: 2vh;
    width: 20vw;
    text-align: left; 
    color: #4C4C4C;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 2vh;
}

.view-appts-searchBox.text {
    padding-bottom: 1vh;
    font-size: 16px;
}

.view-appts-showFilter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

.view-appts-showText {
    color: #4C4C4C;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 1vh;
}

.view-appts-appointments-detail-display {
    width: 50vw;
    align-items: left;
    overflow-y: scroll;
    border-left: 1px solid #B8B8B8;
}

.view-appts-foodPanel {
    width: 400px;
}

.view-appts-form-check-label {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    margin-right: 5%;
}

.input[type="checkbox"], input[type="radio"] {
    border: 1.5px solid #B8B8B8;
}

input[type="checkbox"]:checked {
    border: 1.5px solid #B8B8B8;
    background-color: #264425 !important;
    accent-color: #264425 !important;
    /* color: solid #264425 !important; */
    /* box-shadow: "transparent";
    box-shadow: inset 0 0 0 2.5px white, inset 0 0 0 8px #333; */
}

/* input[type="checkbox"]:hover {
    border: 1.5px solid #B8B8B8;
    background-color: white;
} */

