@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.food-foodName {
    font-family: "Inter";
    color: #4C4C4C; 
    font-weight:600;
    font-size: 25px;
    text-align: left;
}

.food-imgdiv {
    padding: 0px;
    overflow: hidden;
    height: 200px;
    width: 200px;
}

.food-foodImage {
    /* height: 199px; */
    width: 200px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
}

.food-componentContainer {
    display: flex;
    /* padding: 5px; */
    margin-bottom: 5px;
    border-width: 1.667px;
    border-style: solid;
    border-color: #ACB9AC;
    width: 100%;
    height: 100%;
    max-height: 200px;
    border-radius: 10px;
}

.food-penFormat {
    padding-right: 6%;
}

.food-editButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 20px;
    border-color: #588157;
    width: 120px;
    height: 32px;
    background-color: white;
    border-width: 1px; 
}

.food-stockImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: white;
}

.food-editItem {
    font: "Inter";
    font-size: 12px;
    font-weight: 600;
    color: #588157;
    text-decoration: none;
    padding-left: 5px;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

.food-infoContainer {
    width: 80%;
    display: flex;
    flex-direction: row;
    border: 10px;
    border-color: black;
    justify-content: space-between;
}


.food-in-stock-text{
    display: flex;
    justify-content: center;
    font-family: "Inter";
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #264425;
    padding-top: 5%;
    width: 80%;
    flex-direction: row;
    gap: 10%; 
}

.food-out-of-stock-text{
    display: flex;
    justify-content: center;
    font-family: "Inter";
    font-size: 18px;
    color: #888888;
    padding-top: 5%;
    width: 97px;
    gap: 10%
}

.food-inStockCheck{
    font-family: "Inter";
    font-size: 16px;
    color: #264425;
    padding-top: 13%;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}


.food-nameTags {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding-left: 5%;
    text-transform: capitalize;
}

.food-editIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    
}

.food-tagsFormat {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: left;
    flex-wrap: wrap;
}

.food-colorblock-green{
    display: flex;
    border-radius: 0 8px 8px 0;
    width: 2%;
    justify-content: flex-end;
    background-color: #588157;
}

.food-colorblock-grey{
    display: flex;
    border-radius: 0 8px 8px 0;
    width: 2%;
    justify-content: flex-end;
    background-color: #888888;
}
