.searchInputs {
    margin-top: 1vw;
    display: flex;
    border: 0px solid;
  }
  
  .search input {
    border-color: #ACB9AC;
    border: solid #ACB9AC;
    border-radius: .5vw;
    padding-left: .5vw;
    box-shadow: #ACB9AC;
    height: 6vh;
    width: 20vw;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 300;
  }

  input::placeholder{
    border-color: #ACB9AC;
    background-image: url(./../images/IsbeesSearchIcon.svg);
    background-repeat: no-repeat;
    background-position: 97%;
  }
  